<h1>Stupid Coaching#Answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<p><%= @question %></p>
<p><%= @answer %></p>

<!-- <form method="get" action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask">
</form> -->

<%= link_to "Ask again", ask_path %>
